name: "Bookshelf Action: Close Issue"
on:
  issues:
    types: [closed]
jobs:
  bookshelf-action:
    name: Bookshelf Action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Bookshelf Action
        uses: AnandChowdhary/bookshelf-action@HEAD
        with:
          command: "onCloseIssue"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
